* {
  background-color: #acbae4;
  margin-left: 0px;
  color: #222433;
}

main {
  display: flex;
  flex-direction: row;
}

#title {
  color: inherit;
  /*CHANGE THIS TO A BETTER FONT LATER*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 600%;
  text-align: center;
  line-height: 1em;
  text-shadow: 1px 4px 9px rgba(0, 0, 0, 0.5);
}

.side-tabs {
  display: flex;
  flex-direction: column;
  width: 23%;
}

.info {
  color: inherit;
  font-family: Arial Rounded MT Bold, Arial, sans-serif;
  font-size: 130%;
  width: 50%;
  margin: auto;
}

.front-page-border {
  width: 2%;
}

.most-searched {
  width: 23%;
}

#dict-side-button,
#thes-side-button,
#help-side-button {
  color: inherit;
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-right: 1vw;
  margin-bottom: 2.5vw;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;
  height: 6vw;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border: none;
  outline: solid;
  outline-color: #3b4062;
  outline-width: 2px;
  outline-offset: -2px;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
  transition: all 0.7s ease;
  cursor: pointer;
}

#dict-side-button {
  background-color: #e35a5a;
}

#thes-side-button {
  background-color: #f79d40;
}

#help-side-button {
  background-color: #ecdb39;
}

#dict-side-button:hover,
#thes-side-button:hover,
#help-side-button:hover {
  color: #fff;
  background-color: #3b4062;
}
